* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1.4;
}

a {
	color: 333;
	text-decoration: none;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("images/defaultbg.jpg");
	background-size: cover;
	flex-direction: column;
	height: 100vh;
}

.background-sun {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("images/sunny.jpg");
	background-position: center;
	background-size: cover;
	flex-direction: column;
	height: 100vh;
}

.background-nosun {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("images/non_sunny.jpg");
	background-position: center;
	background-size: cover;
	flex-direction: column;
	height: 100vh;
}

.background-jack {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("images/jack.jpg");
	background-position: center;
	background-size: cover;
	flex-direction: column;
	height: 100vh;
}

.search-form {
	margin: 5px;
}
