* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1.4;
}

a {
	color: 333;
	text-decoration: none;
}

.App {
	display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  background: #ffffff url("./public/images/jack.jpg") no-repeat right top;  
  flex-direction: column;
  height: 100vh;
}
